.friendList {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  background-color: #fff;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  margin-right: 10px;
  border-radius: 5px;
}

.name {
  font-size: 18px;
  font-weight: 500;
}
