.tableContainer {
  max-width: 1000px;
  margin: 20px auto;
}

.transactionHistory {
  width: 800px;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.transactionHistory thead {
  background-color: #00bcd4;
  color: #ffffff;
}

.transactionHistory th,
.transactionHistory td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.transactionHistory tr:nth-child(even) {
  background-color: #f2f2f2;
}
